[Unit]
Description = TaskalTimecard-thermometer連携アプリ
After=local-fs.target
ConditionPathExists=/home/pi/taskal-timecard-thermometer

[Service]
ExecStart=/bin/sh /home/pi/taskal-timecard-thermometer/start.sh
WorkingDirectory=/home/pi/taskal-timecard-thermometer
Restart=no
Type=forking


[Install]
WantedBy=graphical.target